* {
    box-sizing: border-box; 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 80%; 
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    flex: 1;  /* Adjusts each section to take up equal amount of space within the container */
    display: flex;
    overflow: hidden; /* Prevents boxes from overflowing their container */
}

.box {
    flex: 0 0 auto;  /* Don't grow, don't shrink, start at auto width based on content */
    width: calc(50% - 10px);  /* for two boxes in a row, adjust if you have a different number */
    border: 1px solid black;
    padding: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
/* add a scrollbar if content overflows */
}

.info.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#hex-map, #map, #third-box, #bottom-second-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.feature-properties-table {
    width: 100%; /* Makes sure your table occupies the entire available width */
    border-collapse: collapse; /* Ensures borders on `td` and `th` elements join each other */
}

.feature-properties-table th, 
.feature-properties-table td {
    font-size: 10px;
    border: 1px solid black; /* Adds border to your cells */
    padding: 5px; /* Optional: Adds some padding inside cells */
    text-align: left; /* Optional: Aligns text to the left */
}

.property-name, .property-name-2 {
    font-weight: bold; 
}

.bottom .box:last-child {
    margin-right: 0;
}

#control-widget {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; 
}

#pollutant-selector {
    padding: 8px;
    font-size: 13px;
}
