* {
    box-sizing: border-box; /* New: makes sure padding doesn't add to the total width/height */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 80%; /* Adjust based on your preference */
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    flex: 1;  /* Adjusts each section to take up equal amount of space within the container */
    display: flex;
    overflow: hidden; /* Prevents boxes from overflowing their container */
}

.box {
    flex-grow: 1;  /* Allows the box to grow and take up extra space */
    border: 1px solid black;
    padding: 100px;  /* Adjusted padding */
    margin: 5px;  /* Adjusted margin */
    display: flex;  /* Makes each box a flex container for vertical alignment */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    position: relative; /* Keeps the map positioned within the box */
}
.info.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#hex-map, #map, #third-box, #bottom-second-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Container holding the table, not the table itself */
#properties-table {
    height: 400px; /* or any suitable value */
    overflow-y: auto; /* enables vertical scrolling */
    width: 100%; /* makes sure the container fills the width */
}

/* Styles for the table element */
#properties-table table {
    width: 100%; /* full width */
    border-collapse: collapse; /* use 'separate' if you need cell borders to be distinct */
    border-spacing: 0;
    font-size: 10px; /* adjust as necessary for readability and space */
    /* other styles... */
}

/* other styles remain unchanged */

/* Styles for the cells */
#properties-table th, 
#properties-table td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: left; 
    font-size: 10px; /* slightly larger than before, adjust as needed */
}

#properties-table th {
    background-color: #4CAF50; 
    color: white;
    font-weight: bold;
    font-size: 10px; /* consistency with other table text, adjust as needed */
}

/* Style for property names in the table */
.property-name, .property-name-2 {
    font-weight: bold; /* Makes the property names bold */
}

.bottom .box:last-child {
    margin-right: 0;
}

#control-widget {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensures the widget is above the map */
}

#pollutant-selector {
    padding: 8px;
    font-size: 13px;
}
